[submodule "satdeploy-apm/lib/apm_csh"]
	path = satdeploy-apm/lib/apm_csh
	url = https://github.com/spaceinventor/libapm_csh
[submodule "satdeploy-apm/lib/csp"]
	path = satdeploy-apm/lib/csp
	url = https://github.com/spaceinventor/libcsp
[submodule "satdeploy-apm/lib/param"]
	path = satdeploy-apm/lib/param
	url = https://github.com/spaceinventor/libparam
[submodule "satdeploy-apm/lib/slash"]
	path = satdeploy-apm/lib/slash
	url = https://github.com/spaceinventor/slash
[submodule "satdeploy-agent/lib/csp"]
	path = satdeploy-agent/lib/csp
	url = https://github.com/spaceinventor/libcsp
[submodule "satdeploy-agent/lib/param"]
	path = satdeploy-agent/lib/param
	url = https://github.com/spaceinventor/libparam
[submodule "satdeploy-agent/lib/dtp"]
	path = satdeploy-agent/lib/dtp
	url = https://github.com/MahmoodSeoud/libdtp
